.textbox{
    display: grid;
    gap: 20px;
    place-items: center;
    width: 100%;
    margin: 0;
}

input {
    width: 50%;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    color: rgb(2, 2, 84);
    border: none;
}


