.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: #020432;*/
    height: 50px;
    border: solid 1px rgb(255, 115, 0);
    min-width: 470px;
    border-radius: 25px;
}

.LogoName{
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color:rgb(255, 115, 0); 
}

.nav_container img{
    border-radius: 25px;
}

.nav_container ul{
    list-style: none;
    margin-right: 30px;
    margin-left: -35px;
}

.Link {
    text-decoration: none;
    color: rgb(255, 115, 0);
}

