.botonContenedor{
    width: 100%;
    display: block;
    justify-content: center;
}

.botonInicio{
    width: 50%;
    height: 50px;
    margin-top: 20px;
    border-radius: 25px;
    color: rgb(249, 123, 5);
    background: rgb(2, 2, 84);
    border: none;
}